@inject IRoofActivityService roofActivityManager
@inject IRoofActivityTypeService roofActivityTypeManager
@inject IToastService ToastManager
<div class="card cw-480">
    <EditForm Model="@CurrentDataItem"
              OnValidSubmit="@HandleValidSubmit"
              Context="EditFormContext">

        <div class="card-body">
            <DxFormLayout>
                <DxFormLayoutItem Caption="Yapılıcak Aktivite" ColSpanMd="12">
                    <DxComboBox Data="@roofActivityTypes"
                                TextFieldName="@nameof(RoofActivityType.Activity)"
                                ValueFieldName="@nameof(RoofActivityType.Id)"
                                @bind-Value="@CurrentDataItem.ActivityType"
                                CssClass="cw-480">
                    </DxComboBox>
                </DxFormLayoutItem>

            </DxFormLayout>
        </div>
        <div class="card-footer text-end">
            <DxButton RenderStyle="ButtonRenderStyle.Primary"
                      Text="Tamam"
                      SubmitFormOnClick="true"
                      IconCssClass="fa-solid fa-circle-check"
                      RenderStyleMode="ButtonRenderStyleMode.Contained"
                      CssClass="me-1" />
        </div>
    </EditForm>
</div>



@code {

    [Parameter]
    public EventCallback<MouseEventArgs> DoneClick { get; set; }

    [Parameter]
    public RoofActivity? CurrentDataItem { get; set; }
    List<RoofActivityType>? roofActivityTypes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        roofActivityTypes = await roofActivityTypeManager.GetList();
    }

    async void HandleValidSubmit()
    {
        try
        {
            var endActivity = await roofActivityManager.GetEndActivity();
            if (endActivity.ActivityType != CurrentDataItem.ActivityType)
            {
                roofActivityManager.AddActivity(CurrentDataItem);
                ToastManager.ShowSuccess("Çatı İşlemi Başarılı");
            }
            else
            {
                ToastManager.ShowError("Bu Aktivite Zaten Yapıldı");
            }

        }
        catch (Exception ex)
        {
            ToastManager.ShowError(ex.Message);
        }
        DoneClick.InvokeAsync(null);
    }
}
